.container{
     /* height: 50.5rem; */
  width: 100vw;
  height: 100vh;
  /* /overflow: hidden; */
  top: 0;
  background-color: #f3f3f3;
  /* padding: 4rem; */
}

.content-outer{
    padding: 16rem 0;
    margin-right: 5rem
}

@media screen and (max-width: 1700px) {
    .container{
        height: 100%;
    }
    .rightBar{
    }
    .content-outer{

    }
}