@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rightBar::-webkit-scrollbar {
  display: none;
}

.ImageBox {
  object-fit: contain;
}

.ImageBox:hover {
  transition: 0.5s;
  background-color: red;
}

@media screen and (max-width: 1784px) {
  .body {
    overflow: auto;
  }
}
