@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rightBar::-webkit-scrollbar {
  display: none;
}

.ImageBox {
  object-fit: contain;
}

.ImageBox:hover {
  transition: 0.5s;
  background-color: red;
}

@media screen and (max-width: 1784px) {
  .body {
    overflow: auto;
  }
}

/* HomeIntent 슬라이드 부분 */
.prev {
	font: 11px/1 "arial";
	color: #fff;
	opacity: 1;
	transform: translateX(30%);
	transition: 0.5s;
}

.next {
	font: 11px/1 "arial";
	color: #fff;
	opacity: 1;
	transform: translateX(-30%);
	transition: 0.5s;	
}

